<%- include('../../partials/admin/head.ejs') %> 
<body>
  <%- include('../../partials/admin/nav.ejs') %> 
  <%- include('../../partials/admin/sidebar.ejs') %>
    <section class="products mt-7" id="wrapper">
        <div class="container">
            <% if (successMessage.length > 0) { %> 
                <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                  <%= successMessage %> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %> 
            <div class="new-user d-flex justify-content-between">
                <form method="post" action="/admin/excel/products">
                    <input type="hidden" name="_csrf" value="<%= csrf  %>">
                    <button type="submit" class="btn btn-primary">
                        Export
                    </button>
                </form>
                <a href="/admin/addProduct" class="btn btn-primary" >Add New</a>
            </div>
            <!-- Table  -->
            <% if (products.length > 0) { %> 
                <div class="table-responsive">
                    <table class="table  text-center   mb-3">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">gender</th>
                            <th scope="col">brand</th>
                            <th scope="col">createdBy</th>
                            <th scope="col">createdAt</th>
                            <th scope="col">action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product, index) => { %> 
                                <tr>
                                    <td><%= index + 1  %></td>
                                    <td>
                                        <%= product.title %> 
                                    </td>
                                    <td>
                                        <%= product.price %> 
                                    </td>
                                    <td>
                                        <%= product.quantity %> 
                                    </td>
                                    <td>
                                        <%= product.description.gender %> 
                                    </td>
                                    <td>
                                        <%= product.description.brand %> 
                                    </td>
                                    <td>
                                        <%= product.createdBy.userName %> 
                                    </td>
                                    <td>
                                        <% const date = product.createdAt %>
                                         <% const year = date.getFullYear() %>
                                         <% const month = date.getMonth() + 1 %> <% const day = date.getDate() %>
                                        <% const hours = date.getHours() > 12 ? (date.getHours() - 12) : date.getHours()  %>
                                        <% const minutes = date.getMinutes() > 9 ? date.getMinutes() : `0${date.getMinutes()}`  %>
                                        <% const period  = date.getHours() > 12 ? "pm" : "am"  %>   
                                        <span class="d-block"> <%= day %>/<%= month %>/<%= year %></span>
                                         <span><%= hours %>:<%= minutes %> <%= period %></span>
                                    </td>
                                   <td>
                                        <div class=" gap-2 d-flex align-items-center justify-content-center">
                                            <a href="/admin/editProduct/<%= product._id %>?edit=true">
                                                <img style="width: 25px;"  src="../images/pencil.png" alt="">
                                            </a>
                                            <a href="/admin/access/product?_id=<%= product._id %>">
                                                <img  style="width: 25px;"  src="../images/delete.png" alt="">
                                            </a>
                                            <a title="product Image" target="_blank" href="../<%= product.image %>">
                                                <img  style="width: 25px;"  src="../images/eye.png" alt="">
                                            </a>
                                        </div>
                                   </td>
                                </tr>
                            <%  }) %> 
                        </tbody>
                    </table>
                </div>
            <% } else { %> 
                    <div class="mt-3">
                        <h3>No Products</h3>
                    </div>
                <% } %> 
            <% if (pagenation) { %> 
                <nav aria-label="..." class="mt-2 text-center">
                    <ul class="pagination pagination-sm justify-content-center">
                        <% if (currentPage > 2) { %>
                            <li class="page-item">
                                <a href="/admin/products?page=1" class="page-link">1</a>
                            </li>
                        <%  } %> 
                        <% if (hasPreviousPage) { %>
                            <li class="page-item">
                                <a href="/admin/products?page=<%= previousPage %>" class="page-link"><%= previousPage  %> </a>
                            </li>
                        <%  } %> 
                    <% if (currentPage) { %> 
                        <li class="page-item active" aria-current="page">
                        <a href="/admin/products?page=<%= currentPage %>" class="page-link"><%= currentPage  %> </a>
                    </li>
                        <% } %>  
                    <% if (hasNextPage) { %>
                        <li class="page-item">
                            <a href="/admin/products?page=<%= nextPage %>" class="page-link"><%= nextPage  %> </a>
                        </li>
                    <%  } %> 
                    </ul>
                </nav>
            <% } %> 
        </div>
    </section>
</body>
</html>