<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
  <body>
    <form
      method="post"
      action="/forget-password"
      class="m-auto mt-5"
      style="width: 350px"
    >
    <% if (errorMessage.length > 0) { %> 
      <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        <%= errorMessage %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %> 
      <% if (successMessage.length > 0) { %> 
        <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
          <%= successMessage %> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input
          type="text"
          name="email"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <div class="text-center">
        <button type="submit " class="btn btn-primary">Send</button>
      </div>
    </form>
  </body>
</html>
