<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
<body>
    <div class="profile  mt-5">
        <div class="container">
            <div>
                <h4>Profile</h4>
                <h5>Welcome <%=  user.userName %></h5>
            </div>
            <% if (successMessage.length > 0) { %> 
                <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                  <%= successMessage %> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %> 
            <div class="row mt-5 gap-5">
                <div class="col-12 col-md-3">
                    <% if (user.image) { %>
                        <img src="/<%= user.image %>" class="img-thumbnail profile-img" alt="...">
                        <% } else { %> 
                        <img src="/images/wallpaper-for-facebook-profile-photo.jpg" class="img-thumbnail" alt="...">
                        <% } %> 
                    <form action="/profile/image" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_csrf" value="<%= csrf %>" />
                        <div class="change-img">
                            <label for="file"  class="file-label w-100 btn btn-secondary">
                                <% if (user.image) { %>
                                    Change
                                <% } else { %>
                                        Add Picture
                                    <% } %> 
                            </label>
                            <input class="d-none" name="image" type="file" id="file" >
                        </div>
                        <div class="btn-change d-none">
                            <button type="submit" class="btn btn-primary mt-5">Save</button>
                            <a href="/admin/settings">
                                <button type="button" class="btn btn-danger mt-5">Cancel</button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-4 user-info">
                    <div>
                        <div class="mt-2 name ">
                            <span class=" fs-5" style="display: inline-block; width: 150px;">UserName : </span>
                            <span class="fw-bold"><%= user.userName %></span>
                        </div>
                        <div class="mt-2 email">
                            <span class=" fs-5" style="display: inline-block; width: 150px;">Email : </span>
                            <span class="fw-bold"><%= user.email %></span>
                        </div>
                        <div class="mt-2 contact">
                            <span class=" fs-5" style="display: inline-block; width: 150px;">contact : </span>
                            <span class="fw-bold"><%= user.contactNumber %> </span>
                        </div>
                        <div class="mt-2 address">
                            <span class=" fs-5" style="display: inline-block; width: 150px;">Address : </span>
                            <span class="fw-bold"><%= user.address  %> </span>
                        </div>
                        <div class="mt-2 password">
                            <span class=" fs-5" style="display: inline-block; width: 150px;">Password : </span>
                            <span class="fw-bold">********</span>
                        </div>
                        <div class=" text-center">
                            <button type="button" class="btn btn-primary update-data mt-5">Update Data</button>
                        </div>
                    </div>
                </div>
                    <!-- form  -->
                <div class="col-12 col-md-6 user-form d-none pb-3">
                    <% if (errorMessage.length > 0) { %> 
                        <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
                          <%= errorMessage %> 
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %> 
                    <form action="/profile/edit" method="post" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">userName</label>
                            <input 
                            name="userName"
                            type="text"
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            value="<%= user.userName %>"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input 
                            name="email"
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            value="<%= user.email %>"
                             >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
                            <input 
                            name="contactNumber"
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            value="<%= user.contactNumber %>"
                             >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Address</label>
                            <input 
                            name="contactNumber"
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            value="<%= user.address %>"
                             >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Old Password</label>
                            <input 
                            name="oldPassword"
                            type="password" class="form-control" id="exampleFormControlInput1" >
                         </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">New Password</label>
                            <input 
                            name="password"
                            type="password" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">confirmPassword</label>
                            <input 
                            name="confirmPassword"
                            type="password" class="form-control" id="exampleFormControlInput1" >
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrf %>" />
                        <div class="text-center">
                            <button
                            class="btn btn-success mt-4"
                            type="submit"
                            >
                            Update
                            </button>
                            <a href="/profile">
                            <button
                            class="btn btn-danger mt-4 "
                            type="button"
                            >
                            Cancel
                            </button>
                            </a>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/profile.js"></script>
</body>
</html>