<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
  <body>
    <form
      method="post"
      action="/forget-password"
      class="m-auto mt-5"
      style="width: 350px"
    >
    <% if (errorMessage.length > 0) { %> 
      <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        <%= errorMessage %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input
          type="text"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input
          type="text"
          name="confirmPassword"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <input type="hidden" name="userId" value="<%= userId %>" />
      <input type="hidden" name="token" value="<%= token %>" />
      <div class="text-center">
        <button type="submit " class="btn btn-primary">Reset</button>
      </div>
    </form>
  </body>
</html>
